[submodule "IGI/LR1/geometric_lib"]
	path = IGI/LR1/geometric_lib
	url = https://github.com/smartiqaorg/geometric_lib
[submodule "IGI/LR2/IGI/LR2/geometric_lib"]
	path = IGI/LR2/IGI/LR2/geometric_lib
	url = https://github.com/smartiqaorg/geometric_lib
[submodule "IGI/LR2/geometric_lib"]
	path = IGI/LR2/geometric_lib
	url = https://github.com/smartiqaorg/geometric_lib
[submodule "IGI/LR2/microservice-app-example"]
	path = IGI/LR2/microservice-app-example
	url = https://github.com/elgris/microservice-app-example.git
